<!-- -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Basic App</title>
      <!--
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      -->
   </head>
   <body class="">
      <nav class="navbar navbar-dark bg-dark">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">
               <img src="{{ url_for('static', filename='logo.png') }}"
                  alt="" width="30" height="30"
                  class="d-inline-block align-text-top">
               JimShapedCoding
            </a>
         </div>
      </nav>
   </body>
</html>

